@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');

$break-small : 1000px; 

$progressMainColor: #1bbccb; // Blue

$progressGreyColor: rgba(00, 00, 00, 0.7);
$progressTextColor: White;

$progressFontCaptions: "Source Sans Pro";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(204, 169, 44, 0.6);
	}
	30% {
		box-shadow: 0 0 0 15px rgba(204, 169, 44, 0.0);
	}
	100% {
		box-shadow: 0 0 0 0px rgba(204, 169, 44, 0.0);
	}
}

@keyframes animate-down {
	0% {
		top: -0.3em;
		opacity: 1;
	}
	50% {
		top: 0.3em;
		opacity: 1;
	}
	75% {
		top: 0.3em;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


@mixin ABox {
	border-radius: 0.5em;	
}

@mixin AShadowyBox {
	@include ABox;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

body {
	font-family: "Open Sans";
	margin: 0px;
}

.paragraph {
	margin: 0em;
}

.button {
	margin: 1em;
}

.scroll-test {
	.heading, .footing {
		width: 100%;
		position: relative;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		justify-content: space-around;
		background: radial-gradient(rgb(220, 220, 220), rgb(100, 100, 100));
		color: rgb(20, 20, 20);

		.background {
			width: 100vh;
			height: 100vh;
			background-image: url(/img/dvnLogo.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			right: -40vh;
			top: -10vh;
			opacity: 0.5;
		}

		.row {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

	}
	.heading {
		height: 100vh;

		.logo-row {
			font-size: 48px;
			margin: 1em 0;
			.logo {
				margin-right: 1em;
				width: 1.5em;
				height: 1.5em;
				background-image: url(/img/dvnLogo.png);
				background-size: 102%;
			}
		}
		.subtitle-row {
			font-size: 32px;
		}
		.scroll-text {
			animation: pulse 3s infinite;
			border-radius: 0.5em;
			padding: 0.5em;
			float: rigth;
			right: 2em;
			position: absolute;
			bottom: 1.5em;
			color: whitesmoke;
			i {
				font-size: 1.2em;
				margin: 0.5em;
				position: relative;
				animation: animate-down 2s infinite;
			}
		}
	}
	.footing {
		height: 80vh;
		.links {
			flex-direction: column;
		}
	}

	.scrolling-container {
		background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
		margin: 0em;
		width: 100%; // calc(100vw - 1em); // No idea why these adjustments are needed, but they amounts to the negative margin of the paragaph we are in - and should be removed
		display: flex;
		height: 1200vh;
		
		.sliding-container {
			display: flex;
			height: 98vh;
			width: 90vw;
			margin: 0 auto;
			position: sticky;
			position: -webkit-sticky;
			top: 0em;

			.sliding-content {
				display: flex;
				flex-direction: column;
				padding: 0.4vmax;
				margin: 1em;
				width: calc(100% - 2em);
				height: calc(100% - 2em);
				// background: whitesmoke;
				// border: 0.2em solid rgba(0, 0, 0, 0.1);
				// border-radius: 0.5em;

				.story-anim-child {
					perspective: 1000px;
				}

				.story-anim-item, .story-anim-svg, .story-anim-div, .story-anim-child {
					width: 100%;
					height: 100%;
				}
				
				.story-anim-svg, .story-anim-div {
					font-size: 22px;
				}

				.story-anim-div {
					padding: 0.5em;
					.slide {
						@include AShadowyBox();
						animation: fadein 2s;
						width: calc(100% - 7em);
						height: calc(100% - 7em);
						padding: 3em;
						background: rgba(255, 255, 255, 0.9);
						border: 1px solid rgba(0, 0, 0, .3);
						display: flex;
						flex-direction: column;
						justify-content: space-around;

						h1 {
							font-size: 3em;
							width: 100%;
							text-align: center;
							color: gray;	
							margin: 0.2em; // The spacing of items already provides a margin
						}
						p {
							padding: 1.5em;
							background: rgba(0, 0, 0, 0.6);
							color: white;
							border: 2px solid rgba(255, 255, 255, 0.5);
							border-radius: 1em;
							code {
								background: $progressMainColor;
								padding: 0.1em 0.3em;
								border-radius: 0.2em;
								border: 1px solid rgba(200, 200, 200, 0.5);
							}
						}
						ul {
							display: flex;
							flex-direction: column;
							justify-content: space-around;
							margin: 1em 0em;
							li {
								height: 2em; // Seems "suggestive", as it does not blow up small-screen views.
							}
						}
						.aligned-row {
							display: flex;
							flex-direction: row;
							align-items: center;

							img {
								height: 1.3em;
    							margin: 0.2em;
							}
						}
						.tone-down {
							color: rgba(0, 0, 0, 0.8);
							font-size: 0.8em;
						}

						.phil-features-header {
							font-size: 1.5em;
						}

						.phil-features {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							background: whitesmoke;
							padding: 1em 0.5em;
							// margin: -1em 0;
							flex-grow: 2;
							justify-content: space-around;

							li {
								padding: 0 0.5em;
								display: flex;
								flex-direction: column;
								align-items: center;
								width: calc(50% - 2em);
								// height: 10em;
								* {
									margin-bottom: 0.5em;
									text-align: center
								}
								.fa {
									width: 1em;
									border: 1px solid rgba(0, 0, 0, 0.5);
									padding: 1em;
									color: $progressMainColor;
									border-radius: 1.5em;
									background: white;
								}

								span:nth-child(2) {
									text-transform: uppercase;
								}
							}
							overflow: scroll;
							@media screen and (max-width: $break-small) {
								padding: 0em;
								li {
									padding: 0.2em;
								}
								li .fa {
									width: 0.9em;
									padding: 0.5em;
								}
							}
						}
					}
				}

				.world-map-root {
					@include ABox();
					// border: 1px solid rgba(0, 0, 0, 0.3);
					.world-map {
						.marker {
							fill: $progressMainColor;
						}
					}
				}
				
				.value-network, .world-map-root {
					.vn-org {
						stroke: orange;
					
						&.C1 {
							stroke: $progressMainColor;
						}

						&.S2 {
							stroke: lightgreen;
						}
						&.C2 {
							stroke: lightskyblue;
						}
					}
					.connector {
						circle {
							stroke: orange;
							stroke-width: 0.3px;
						}
					}
				}

				.progress-indicator-root {
					.progress-indicator {
						.progress-background {
							opacity: 0;
							transition: opacity 1s;
						}
						&.hot {
							.progress-background {
								opacity: 1;
							}
						}
						.clockCircle {
							fill: none;
							stroke: $progressGreyColor;
						}
						.clockCircle.interest {
							fill: $progressGreyColor;
						}
	
						
						.clockArc {
							fill: none;
							stroke: $progressMainColor;
						}
						
						.clockDot {
							fill: lighten($progressMainColor, 50%);
						}
						
						.caption {
							font-family: $progressFontCaptions;
							font-weight: 300;
							fill: $progressTextColor;
							font-size: 40px;
						}
						.caption.interest {
							font-size: 15px;
							text-align: center;
							font-weight: 500;
							stroke: $progressMainColor;
							fill: $progressMainColor;
						}
					}	
				}

				@media screen and (max-width: $break-small) {
					.story-anim-svg, .story-anim-div {
						font-size: 1rem;
					}
					.story-anim-div {

						.slide {
							width: calc(100% - 3em);
							height: calc(100% - 3em);
							padding: 1em;
							h1 {
								font-size: 1.5em;
							}
						}
						.story-anim-div {
							.slide {
								padding: 1em;
							}
						}
					}
				}

				.story-anim-item {
					position: relative;
					overflow: hidden; // Prevent translated objects to move outside their container
					&.taller-on-mobile {
						height: 110%;
						margin-top: -2%;
					}
	
					> * {
						position: absolute;
					}
				}
			}
		}

		@media screen and (max-width: $break-small) {
			margin: 0em;
			width: 100vw;
			.sliding-container {
				margin: 0em;
				width: 100%;				
			}
		}

	}

	
	.overlay{
		// Rotate animation based on: https://codepen.io/andywillekens/pen/VLbwvX

		z-index: 2;
		display:none;
		position:absolute;
		top:0;
		background-color:rgba(0,0,0,.7);
		width:100%;
		height:100%;

		.iconContainer{
			z-index: 2;
			width:200px;
			height:200px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-100px;
			margin-top:-100px;
			& p {
				display:inline-block;
				width:100%;
				text-align:center;
				margin:0;
				font-size:20px;
				opacity:0;
				color: rgba(255, 255,255, 0.9);
			}
		}
		
		.phone{
			position:relative;
			z-index: 2;
	
			left:50%;
			margin-left:-50px;
			width:0;
			height:0;
			border:0 solid #000;
			background:#a9a9a9;
			border-radius:10px;
			box-sizing:border-box;
			& i{
				text-align:center;
				width:100%;
				line-height:120px;
				font-size:50px;
				color:#454545;
				opacity:0;
			}
		}
		
	
	}
	@media only screen and (max-width: 700px){
		.overlay{	display:block; }
	
		.overlay .phone{
			animation:
				sizeIncrease .5s forwards ease, 
				borderIncrease .5s .5s forwards ease, 
				rotateRight .7s 1s forwards ease;
		}
	
		.overlay .phone i{
			animation:
				fadein .5s .8s forwards ease;
		}
	
		.overlay .iconContainer p{
			animation:
				fadein .5s 1.3s forwards ease;
		}
	}
	
	/* KEYFRAMES
	------------------------------------------- */
	/* Animate width + height */
	@keyframes sizeIncrease {
	  0%   { width: 0; height:10px; }
		50%  { width: 100px; height: 10px; }
	  100% { width: 100px; height:160px; }
	}
	/* Add borders */
	@keyframes borderIncrease { 
		100% { border-width:20px 10px; } 
	}
		
	/* Rotate device */
	@keyframes rotateRight { 
		100% { transform: rotate(90deg); } 
	}
}
