<div class="content">
	<div id="top">
		{{{html}}}
	</div>
	<script type="text/javascript">
		window.initialReactProps = {{{initialState}}}
	</script>

	<script src="/static/vendor_bundle.js" ></script>
	<script src="/static/index_bundle.js" ></script>
</div>

